<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="root.level.console" value="WARN"/>

    <timestamp key="day" datePattern="yyyy-MM-dd"/>

    <appender name="THEKEEPER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file> src/main/resources/wendys-rennpferde-${day}.log</file>
        <encoder>
            <pattern class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">%d{HH:mm:ss.SSS} | %-5level | %40logger{0}: %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>src/main/resources/wendys-rennpferde-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>512MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} | %-5level | %40logger{0}: %msg%n</pattern>
        </encoder>
    </appender>


    <logger name="at.ac.tuwien.sepm.assignment.individual" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="THEKEEPER"/>
    </logger>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>

    </root>
</configuration>
